* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F4E3;
}

hr {
    border: 0;
    height: 3px;
    background: #2A2B2A;
    width: 30%;
    margin: 0px auto;
}

h2, p {
    font-family: Poppins, Roboto, Verdana, san-serif;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    
}

p {
    text-align: justify;
    text-indent: 50px;
    margin: 20px 100px;
    font-size: 1.0em;
}

b, strong {
    color: #E5446D;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    width: fit-content; 
}
.gallery img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}

.gallery img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
    opacity: 1.0;
    border-bottom:#E5446D 5px solid;
}

/* ---------------- HEADER ---------------- */

li, a, button {
    font-family: Georgia, Cambria, serif;
    font-size: 1.0em;
    color: #2A2B2A;
    text-decoration: none;
}

header {
    background-color: #F8F4E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #FF8966;
    font-size: 1.1em;
}

.nav-links li a.active {
    position: relative;
}

.nav-links li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #E5446D;
}

button {
    padding: 9px 25px;
    background-color: rgba(229, 68, 109, 1);
    color: #F8F4E3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(229, 68, 109, 0.8);
}


/* ---------------- SECTION BUTTONS ---------------- */
.section-button {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 100px;
    padding: 50px 10%;
}

/* ---------------- CONTAINER ---------------- */
.container {
    display: flex;
}

/* ---------------- OVERVIEW ---------------- */
.overview {
    background-color: #E5446D;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    min-height: 100px;
}

.overview nav {
    width: 100%;
}

.overview nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.overview nav li {
    width: 100%;
    text-align: left;
}

.overview nav li a {
    display: block;
    text-align: left;
    width: 100%;
    color: #F8F4E3;
    text-decoration: none;
    padding: 20px 40px;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.overview nav li a:hover {
    background-color: #F8F4E3;
    color: #E5446D;
    text-shadow: 0px 0px 1px #2A2B2A;
}


/* ---------------- CONTENT ---------------- */
.content {
    margin: 20px 50px;
}

/* ---------------- ABOUT ---------------- */
.about-section {
    margin-top: 30px;
    padding: 100px 50px;
    padding-bottom: 20px;
    border-left: #2A2B2A solid 5px;
    background-color: hsla(44, 7%, 41%, 0.144);
    padding-right: 0;
    margin-right: 0;
}

.about-section h1, h2, p {
    text-align: left;
    text-indent: 0;
    margin: 0px;
    margin-right: 50px;
}

.about-section h1 {
    font-size: 1.875em;
    background: linear-gradient(to right, #e5446d, #ff8966, #ff8966);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    margin-bottom: 20px;
}

.about-section strong {
    color:#E5446D;
    font-weight: bold;
}

.about-section .nav-links {
    background-color: #F8F4E3;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 10px;
}

/* ---------------- SECTION ---------------- */
.section {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

/* ---------------- PLAYER ---------------- */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    gap: 20px;
    margin-top: 50px;
}

.player {
    background-color: hsla(345, 76%, 58%, 0.253);
    border-radius: 20px;
    text-align: center;
}

.player .imgbox {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.player .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.player .imgbox img:hover {
    cursor: pointer;
}

.player audio {
    width: 100%;
    outline: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.player h3, .player h4 {
    font-family: Poppins, Roboto, Verdana, sans-serif;
    margin: 5px 0;
    text-align: center;
}

.player h3 {
    font-size: 18px;
    font-weight: 600;
}

.player h4 {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}




/* ---------------- SUBTITLE ---------------- */
.subtitle h2 {
    text-align: center;
    margin: 60px 0 10px;
    padding: 0;
}

.subtitle > p {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    padding: 0 200px;
}

#kpop {
    margin-top: 70px;
}

/* ---------------- FOOTER ---------------- */

footer {
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    padding: 10px 5%;
    text-align: right;
    background-color: #706C61;
}

footer p {
    background-color: #706C61;
    color: #F8F4E3;
    font-size: 0.8em;
    text-align: right;
}

