* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F4E3;
}

hr {
    border: 0;
    height: 3px;
    background: #2A2B2A;
    width: 30%;
    margin: 5px auto;
}

h2, p {
    font-family: Poppins, Roboto, Verdana, san-serif;
}

h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 1.875em;
    
}

p {
    text-align: justify;
    text-indent: 50px;
    margin: 20px 100px;
    font-size: 1.0em;
}

/* ---------------- HEADER ---------------- */

li, a, button {
    font-family: Georgia, Cambria, serif;
    font-size: 1.0em;
    color: #2A2B2A;
    text-decoration: none;
}

header {
    background-color: #F8F4E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #FF8966;
    font-size: 1.1em;
}

.nav-links li a.active {
    position: relative;
}

.nav-links li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #E5446D;
}

button {
    padding: 9px 25px;
    background-color: rgba(229, 68, 109, 1);
    color: #F8F4E3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(229, 68, 109, 0.8);
}

/* ---------------- SECTION BUTTONS ---------------- */
.section-button {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    padding: 50px 10%;
    width: 100%;
}

/* ---------------- CONTAINER ---------------- */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
    margin: 0px;
}

/* ---------------- ITEM ---------------- */

.item {
    border: #2A2B2A 1px solid;
    align-items: center;
    transition: 0.3s ease 0s all;
}

.item p {
    text-align: center;
    margin: 5px auto;
    padding: 5px 0;
    width: 100%;
    text-indent: 0;
}


.item img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    opacity: 1;
    transition: 0.3s ease 0s all;
    cursor: pointer;
}

.item:hover {
    border-bottom: #E5446D 5px solid;
    opacity: 0.6;
    transition: 0.3s ease 0s all;
    border-radius: 30px;
}

.item:hover img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0.3s ease 0s all;
}